venv/
__pycache__/
*.pyc
.env

data/registered_faces/*
data/embeddings/*
data/*.db
data/test_images/*
data/evaluation/*

.vscode/
models/arcfaceresnet100-11-int8.onnx
models/arcfaceresnet100-8.onnx
models/face_detection_yunet_2023mar.onnx
.ipynb_checkpoints/
